@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
  background-color: black;
  color: white;
  width: 80%;
  margin: 0 auto;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.welcome {
  text-align: center;
  font-size: 2.4rem;
  border: 1rem solid black;
  padding: 2rem 1rem;
  -o-border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
     border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

.text {
  font-size: 3rem;
  margin-top: 3rem;
}

.content {
  margin-top: 10rem;
}

.content__title {
  font-size: 4rem;
  margin-top: 5rem;
}

.content__desc {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.content__item {
  margin-top: 3rem;
}

.intec_button {
  font-size: 2.4rem;
  font-weight: bold;
  color: inherit;
  box-shadow: inset 0 0 0 0.6rem white;
  position: relative;
  vertical-align: middle;
}
.intec_button::before, .intec_button::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  transition: color 0.25s;
  font-size: 2.4rem;
  padding: 2.6rem 4.6rem;
}
.draw::before, .draw::after {
  border: 0.6rem solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  right: 0;
  bottom: 0;
}
.draw:hover {
  color: rgb(253, 67, 67);
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: rgb(253, 67, 67);
  border-right-color: rgb(253, 67, 67);
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: rgb(253, 67, 67);
  border-left-color: rgb(253, 67, 67);
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.meet {
  padding: 2.6rem 4.6rem;
}
.meet:hover {
  color: rgb(252, 252, 101);
}
.meet::after {
  top: 0;
  left: 0;
}
.meet:hover::before {
  border-top-color: rgb(252, 252, 101);
  border-right-color: rgb(252, 252, 101);
}
.meet:hover::after {
  border-bottom-color: rgb(252, 252, 101);
  border-left-color: rgb(252, 252, 101);
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}

.center {
  padding: 2.6rem 4.6rem;
}
.center:hover {
  color: rgb(255, 55, 255);
}
.center::before, .center::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}
.center::before {
  border-top: 0.6rem solid rgb(255, 55, 255);
  border-bottom: 0.6rem solid rgb(255, 55, 255);
  transform: scale3d(0, 1, 1);
}
.center::after {
  border-left: 0.6rem solid rgb(255, 55, 255);
  border-right: 0.6rem solid rgb(255, 55, 255);
  transform: scale3d(1, 0, 1);
}
.center:hover::before, .center:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 0.5s;
}

.spin {
  width: 5em;
  height: 5em;
}
.spin:hover {
  color: rgb(61, 61, 255);
}
.spin::before, .spin::after {
  top: 0;
  left: 0;
}
.spin::before {
  border: 0.6rem solid transparent;
}
.spin:hover::before {
  border-top-color: rgb(61, 61, 255);
  border-right-color: rgb(61, 61, 255);
  border-bottom-color: rgb(61, 61, 255);
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}
.spin::after {
  border: 0 solid transparent;
}
.spin:hover::after {
  border-top: 0.6rem solid rgb(61, 61, 255);
  border-left-width: 0.6rem;
  border-right-width: 0.6rem;
  transform: rotate(270deg);
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
}

.circle {
  border-radius: 100%;
  box-shadow: none;
}
.circle::before, .circle::after {
  border-radius: 100%;
}

.thick {
  color: white;
}
.thick::before {
  border: 2.5rem solid transparent;
  z-index: -1;
}
.thick::after {
  mix-blend-mode: color-dodge;
  z-index: -1;
}
.thick:hover::before {
  background: rgb(106, 255, 141);
  border-top-color: rgb(106, 255, 141);
  border-right-color: rgb(106, 255, 141);
  border-bottom-color: rgb(106, 255, 141);
  transition: background 0s linear 0.4s, border-top-color 0.15s linear, border-right-color 0.15s linear 0.15s, border-bottom-color 0.15s linear 0.25s;
}
.thick:hover::after {
  border-top: 2.5rem solid rgb(106, 255, 141);
  border-left-width: 2.5rem;
  border-right-width: 2, 5rem;
}/*# sourceMappingURL=style.css.map */